<h1>Gestion du cinéma</h1><br>
<!--<a href="/user" style="background-color: grey; color:white; padding: 10px 25px; text-align: center; text-decoration: none; font-size: 14px; margin-right: 25px;">User</a>-->
<a href="/films" style="background-color: grey; color:white; padding: 10px 20px; text-align: center; text-decoration: none; font-size: 14px; margin-right: 20px;">Films</a>
<a href="/seances" style="background-color: grey; color:white; padding: 10px 20px; text-align: center; text-decoration: none; font-size: 14px;">Séances</a>
<br><br><br>
<a href="/categories" style="background-color: grey; color:white; padding: 10px 16px; text-align: center; text-decoration: none; font-size: 14px; margin-right: 20px;">Genres</a>
<a href="/salles" style="background-color: grey; color:white; padding: 10px 26px; text-align: center; text-decoration: none; font-size: 14px;">Salles</a>