<% if(loggedin){ %>
  <a href="/">< Retour à la page d'accueil</a><br />
  <h1>Liste des utilisateurs</h1>
  <a href="/user/add">Ajouter un utilisateur</a><br /><br/>
  <table border="1" style="border-collapse: collapse; width: 30%; text-align:center;">
    <tr>
       <th>Username</th><th>Action</th><th>Action</th>
    </tr>
    <% for (let i = 0 ;  i < users.length ; i++) { %>
     <tr>
       <td><%= users[i].name%></td>
       <td><a href="/user/update/<%= users[i].id %>"><img style="margin-left:7px;" width="16px" height="16px" src="./images/edit.png" alt="edit"/></a> </td>
       <td><a onclick="return confirm('Veuillez cliquer sur OK si vous voulez supprimer cet élément')" href="/user/delete/<%= users[i].id %>"><img style="margin-left:7px;" width="16px" height="16px" src="./images/delete.png" alt="delete"/></a></td>
     </tr>    
    <% } %>
  </table>
<% } else{ %>  
  <h1>Accès interdit ! Il faut être administrateur pour accéder à cette page</h1> <a href="/login" style="color: black; font-size: 14px;">Connexion administrateur</a>
<% } %>

