<% if(loggedin){ %>
<h1>Ajouter une utilisateurs</h1>
<form action="/user/new" method="POST">
    Username: <input style="display: table-cell;" type="text" name="name" value="<%= name %>" >&nbsp;&nbsp;&nbsp;&nbsp;
    Mot de passe: <input style="display: table-cell;" type="password" name="password" value="<%= password %>"><br><br>
    <input type="hidden" name="id" value="<%= id %>" >
    <input type="submit" name="save" value="Sauver"><br><br>
    <input type="button" value="Retour" onclick="history.go(-1)">
</form>
<% } else{ %>  
    <h1>Accès interdit ! Il faut être administrateur pour accéder à cette page</h1> <a href="/login" style="color: black; font-size: 14px;">Connexion administrateur</a>
<% } %>
  
