<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>philm.io</title>
    <meta name="description" content="Ce site sert aux visiteurs à programmer leur prochaine visite au cinéma et à l'administrateur de gérer un cinéma."/>
    <link href="http://localhost:8000/css/normalize.css" rel="stylesheet">
    <link href="http://localhost:8000/css/style.css" rel="stylesheet" type="text/css">
    <link href="http://localhost:8000/images/favicon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
  <% if(loggedin){ %>
    <header>
        <h1>
            <img id="menuButton" src="http://localhost:8000/images/menu.svg" alt="icon_burger_menu">  
            <a href="/">application gestion de cinéma.</a>
        </h1>
    </header>
  <% } else{ %>  
    <header>
        <h1>
          <img id="menuButton" src="http://localhost:8000/images/menu.svg" alt="icon_burger_menu">  
            <a href="/">cinéma - philm.io</a>
        </h1>
    </header>
  <% } %>
    <main>
        <section style="margin-bottom: 5rem;">
          <h1>salles de cinéma</h1>
          <% if(loggedin){ %>
            <a href="/user/add" class="ajouter">Ajouter une salle</a><br /><br />    
          <% } %>
          <div class="rTable">
            <div class="rTableRow">
              <div class="rTableHead">Nom</div>
              <% if(loggedin){ %>
                <div class="rTableHead">Actions</div>   
              <% } %>
            </div> 
            <% for (let i = 0 ;  i < users.length ; i++) { %>
            <div class="rTableRow">
              <div class="rTableCell"><%=users[i].name%></div>
              <% if(loggedin){ %>
                <div class="rTableCell">
                  <a href="/user/update/<%= users[i].id %>" class="modifier">Modifier</a>
                  <a onclick="return confirm('Veuillez cliquer sur OK si vous voulez supprimer cet élément')" href="/user/delete/<%= users[i].id %>" class="supprimer">Supprimer</a>
                </div>   
              <% } %>
            </div>
            <% } %>
          </div>
        </section>
    </main>
    <nav id="mainMenu">
      <a href="/">accueil</a>
      <a href="/films">films</a>
      <a href="/seances">séances</a>
      <% if(loggedin){ %>
        <a href="/categories">genres</a>
        <a href="/salles">salles</a>
        <a href="/user">users</a>
        <a href="/ressources">ressources</a>
        <a href="https://github.com/gomst070/node_gestioncinema">github</a>
        <a href="/logout">deconnexion</a>
      <% } else{ %>  
        <a href="/login">login</a>
      <% } %>
      </nav>  
    <footer>2020, copyright © philm.io</footer>
    <div id="overlay"></div>
    <script src="./script/drawer.js" type="text/javascript">
    </script>
</body>
</html>